<div class="row">
  <div class="col-75">
    <div class="container">
      

        <div class="row">
          <div class="col-50">

<%=bootstrap_form_with(model: list) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
          <div class="col-50">


  <div class="field">
      <%= form.text_field :name %>
  </div>

  <div class="field">
    
    <%= form.text_field :email %>
  </div>          

  <div class="field">
    
    <%= form.text_field :address %>
  </div>

  <div class="field">
   
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
   
    <%= form.text_field :landmark %>
  </div>

  

  <div class="field">
    
    <%= form.text_field :city %>
  </div>

  <div class="field">
    
    <%= form.text_field :state %>
  </div>

  <div class="field">
   
    <%= form.number_field :postalcode %>
  </div>

  <strong>Payment mode </strong>
  <div class="field">
      <%=form.radio_button(:payment_mode, 'COD')   %>
     
    </div>

  <div class="actions">
    <%= form.submit"Click hear to confirm" %>
  </div>
  </div>
  </div>


<% end %>
 </div>
  </div>

 
</div>