<!--<% if current_user.role == 'admin' %>

<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      
      <th>Address2</th>
      <th>Landmark</th>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>State</th>
      <th>Postalcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.address %></td>
        <td><%= list.address2 %></td>
        <td><%= list.landmark %></td>
        <td><%= list.name %></td>
        <td><%= list.email %></td>
        <td><%= list.city %></td>
        <td><%= list.state %></td>
        <td><%= list.postalcode %></td>
        <td><%= link_to 'Show', list%></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= button_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>-->

<% if current_user.role == 'user' %>


 <span class="f5 has-text-grey">Your Total Price is :</span> <%= number_to_currency(@cart.total_price) %><br>
<br>
<strong>You are few step away from your order</strong><br>
<br>
<strong>We provide 100% genuine product <br>
Don't worry about quality

</strong>
<hr>


<%= link_to 'click hear to place order', new_list_path, :class => 'btn ' %>
<% end %>

<% if current_user.role == 'admin' %>
<br>
            <span>
              
              <h1> </h1>
            </span>
<strong :center>All order</strong>

<div class="list-index-grid pt4">
  <% @lists.each do |list| %>

    <div class="product border-light">
      <div class="product-thumb">
     
     
      </div>
       <div class="pa3">

      <h3 class="fw7 f4 title"><%= list.name %></h3>
      <h3 class="fw7 f4 title"><%= list.address %></h3>
      <h3 class="fw7 f4 title"><%= list.address2 %></h3>
      <%= link_to 'Show', list , class:"button is-danger"%>
     <button class="button is-danger"><a href="/send_ap"><strong>Approve</strong></a></button> 
          <button class="button is-danger"><a href="/send_db"><strong>Reject</strong></a></button> 

      

    

      
      
    </div> 
    
   
          
            <span><%#= link_to 'Issue', book_path(book) %></span>
            
  </div>

  
  <% end %>
  <br>
            <span>
              
              <h1> </h1>
            </span>
</div>
<% end %>


