<div class="container">
  <h3>Select payment mode</h3>
  <%= form_for(:order, url: @orders_pla_order_path) do |form| %>
    <div class="field">
      <%=form.radio_button(:payment_mode, 'COD') %>
      <%= form.label :payment_mode, "COD" %>
    </div>
    <div class="actions">
      <%= form.submit 'Place order' ,data:
      {confirm: "Are you sure you want to place order?" }, :class => 'btn btn-info' %>
    </div>
  <% end %>
   
    <%= link_to 'Keep Shopping', orders_path, class: 'btn' %>
</div>