<%= bootstrap_form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   

  <div class="field">
    
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    
    <%= form.text_area :description %>
  </div>

  <div class="field">
    
    <%= form.number_field :price %>
  </div>

   <div class="field">
    
    <%= form.file_field :avatar %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
